.blue {
   background-color: #C1D2E3;
}
.green {
   background-color: #CEE3C1;
}
.yellow {
   background-color: #F7F7C1;
}
.orange {
   background-color: #F2D4AA;
}
.red {
   background-color: #FF8C8C;
}

/*td {
}
*/
table tr th,
table tr td {
   font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;;
   padding: 0.2625rem 0.25rem;
   font-size: 0.75rem;
   color: #222222; 
   text-align: center;
}

.month {
   font-size: 12px;
   color: #333333;
}

/*li.active {
   margin-left:25%;
}
*/

.description {
   font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;;
   font-size:9px;
   color: black;
   text-align: left;
   padding-top: 15px;
}

.description ul {
   line-height: 1.2;   
}
.description p {
   line-height: 1.2;
}

fieldset {
   color: white;
   border: none;
   padding-bottom: 0px;
   margin-bottom: 0px;
}

fieldset form {
   padding-bottom: 0px;
   margin-bottom: 0px;   
}

fieldset legend {
   font-family:"Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
   background-color:rgba(162,23,23,1.00); 
}    

a.button.postfix {
   margin-bottom:0px;
   background-color: rgba(51, 51, 51, 1.0);
   border-color: rgba(51, 51, 51, 1.0);
}

.orbit-container .orbit-slides-container img {
  display: block;
  max-width: 100%; 
/*  margin-left: 14px;
*/}

.orbit-container .orbit-slides-container img.portrait {
  margin-left: 25%;
  height:auto;
}

.orbit-container .orbit-timer {
    top: 378px;
    right: 5px;
    color: white;
}
    
.orbit-container .orbit-slides-container > * .orbit-caption {
  font-family:"Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  font-size: 0.875rem; 
}

#middle {
   font-family:"Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
   background-color:rgba(162,23,23,1.00);
   border-bottom-width:5px;
   border-top-width:5px;
   border-left-width:5px;
   border-right-width:5px;
   padding: 5px 5px 5px 5px;
}
#request {
/*   background-color:lightgrey;*/
   font-family:"Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
   border-color:rgba(162,23,23,1.00);
   border-bottom-width:5px;
   border-top-width:5px;
   border-left-width:5px;
   border-right-width:5px;
   padding: 5px 5px 5px 5px;
}
#request label {
   color:white;
}